-- ============================================================
-- Migration: Replace multi-department users with AdmSec users
-- One user per department, username = AdmSec.<DeptName>
-- REVIEW this output before running it!
-- ============================================================

START TRANSACTION;

-- Step 1: Disable FK checks so dependent tables don't block the delete
SET FOREIGN_KEY_CHECKS = 0;

-- Step 2: Remove all non-admin users (role_id NOT IN (1, 2))
DELETE FROM users WHERE role_id NOT IN (1, 2);

-- Step 3: Re-enable FK checks
SET FOREIGN_KEY_CHECKS = 1;

-- Step 4: Insert one AdmSec user per department (62 total)
-- NOTE: Some emails appear for multiple departments (same officer covered
--       multiple depts). If your users table has a UNIQUE constraint on
--       email, this INSERT will fail ù in that case set email=NULL above.

COMMIT;

-- --Username preview ----------------------------------------
-- dept  1: AdmSec.CMO
-- dept  2: AdmSec.Finance
-- dept  3: AdmSec.FinanceII
-- dept  4: AdmSec.FinanceIII
-- dept  5: AdmSec.Home
-- dept  6: AdmSec.Jails
-- dept  7: AdmSec.Revenue
-- dept  8: AdmSec.LandRecords
-- dept  9: AdmSec.UrbanEstates
-- dept 10: AdmSec.TCP
-- dept 11: AdmSec.Agriculture
-- dept 12: AdmSec.Irrigation
-- dept 13: AdmSec.AnimalHusbandry
-- dept 14: AdmSec.Fisheries
-- dept 15: AdmSec.SaraswatiHeritage
-- dept 16: AdmSec.Health
-- dept 17: AdmSec.MedicalEducation
-- dept 18: AdmSec.Ayush
-- dept 19: AdmSec.HigherEducation
-- dept 20: AdmSec.SchoolEducation
-- dept 21: AdmSec.Future
-- dept 22: AdmSec.PWD
-- dept 23: AdmSec.PHE
-- dept 24: AdmSec.Housing
-- dept 25: AdmSec.ULB
-- dept 26: AdmSec.Architecture
-- dept 27: AdmSec.GMDA
-- dept 28: AdmSec.FMDA
-- dept 29: AdmSec.SPV
-- dept 30: AdmSec.Transport
-- dept 31: AdmSec.CivilAviation
-- dept 32: AdmSec.Industries
-- dept 33: AdmSec.HARTRON
-- dept 34: AdmSec.CRID
-- dept 35: AdmSec.IPRL
-- dept 36: AdmSec.Printing
-- dept 37: AdmSec.SEWA
-- dept 38: AdmSec.WCD
-- dept 39: AdmSec.SainikWelfare
-- dept 40: AdmSec.Labour
-- dept 41: AdmSec.YEE
-- dept 42: AdmSec.Energy
-- dept 43: AdmSec.Environment
-- dept 44: AdmSec.HSPCB
-- dept 45: AdmSec.WaterResource
-- dept 46: AdmSec.GAD
-- dept 47: AdmSec.HRD
-- dept 48: AdmSec.Planning
-- dept 49: AdmSec.Elections
-- dept 50: AdmSec.Vigilance
-- dept 51: AdmSec.Archives
-- dept 52: AdmSec.ForeignCooperation
-- dept 53: AdmSec.Cooperation
-- dept 54: AdmSec.Panchayats
-- dept 55: AdmSec.MinesGeology
-- dept 56: AdmSec.Excise
-- dept 57: AdmSec.Tourism
-- dept 58: AdmSec.FoodSupplies
-- dept 59: AdmSec.Sports
-- dept 60: AdmSec.IncomeBoard
-- dept 61: AdmSec.Examinations
-- dept 62: AdmSec.ChiefSecretary

-- --Verify after running ----------------------------------------
-- SELECT id, username, department_id, role_id FROM users ORDER BY department_id;
